#sig {
  height: 204px;
  display: block;
  position: relative;
  top: 15px;
  left: 10px;
  transform: rotate(-13deg);
  position: absolute;
}

#guitar {
  opacity: 40%;
  width: 100%;
  position: absolute;
}

#logo-box {
  height: 250px;
  width: 250px;
  background-color: rgb(255,255,255,.6);
  border-radius: 100%;
  position: relative;
  top: -45%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

#header {
  height: 78vh;
  position: relative;
  background-image: url(./assets/background.jpg);
  background-size: cover;
}

#logo-and-nav {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  mix-blend-mode: screen;
  width: 100%;
  text-align: center;
}

#header button {
  background-color: rgb(255,255,255,.6);
}

#header button:hover {
  background-color: rgb(255,255,255,.5);
}

/* CLEARFIX */

.cf:before,
.cf:after {
content: " ";
display: table;
}

.cf:after {
clear: both;
}

.cf {
*zoom: 1;
}

.hamburger {
  position: fixed;
  right: 43px;
  top: -100px;
}

.hamburger .line{
width: 50px;
height: 5px;
background-color: rgb(255,255,255, .7);
display: block;
margin: 8px auto;
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.hamburger:hover{
cursor: pointer;
}

#hamburger.is-active .line:nth-child(2){
opacity: 0;
}

#hamburger.is-active .line:nth-child(1){
-webkit-transform: translateY(13px) rotate(45deg);
-ms-transform: translateY(13px) rotate(45deg);
-o-transform: translateY(13px) rotate(45deg);
transform: translateY(13px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3){
-webkit-transform: translateY(-13px) rotate(-45deg);
-ms-transform: translateY(-13px) rotate(-45deg);
-o-transform: translateY(-13px) rotate(-45deg);
transform: translateY(-13px) rotate(-45deg);
}

.hidden {
  visibility: hidden;
}

@media (min-width: 600px) {
  #hamburger {
    display: none;
  }
}

@media (max-width: 600px) {

  #header {
    background-position: bottom;
  }

  #logo-box {
    height: 200px;
    width: 200px;
  }
    
  #sig {
    height: 167px;
  }
}