body {
  margin: 0;
  font-family: 'Eczar', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: rgb(253, 253, 253);
  --accent-color: rgb(251, 241, 228);
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(251, 241, 228);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(184, 218, 255);
}