body {
  margin: 0;
  font-family: 'Eczar', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: rgb(253, 253, 253);
  --accent-color: rgb(251, 241, 228);
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(251, 241, 228);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(184, 218, 255);
}

.block {
  padding: 40px 140px;
}

@media (min-width:1051px) {
  .block {
    padding: 40px 140px;
  }
}

@media (max-width:1050px) {
  .block {
    padding: 40px 60px;
  }
  #repertoire button {
    margin-left: 60px !important;
  }
}

@media (max-width:700px) and (min-width:601px) {
  #sophie {
    width: 60% !important;
    margin: 30px 100px 100px !important;
  }
}

@media (max-width:600px) {
  #sophie {
    width: 90% !important;
    margin: 20px 80px 50px 10px !important;
  }
}

@media (max-width:1200px) {
  #lessons-block {
    width: 100% !important;
  }
  #bug-photo {
    position: relative !important;
  }
}