h2 {
  font-family: 'Arvo', serif;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 20px;
}

h1 {
  font-family: 'Zilla Slab Highlight', cursive;
  font-style: bold;
}

.block {
  padding: 40px 140px;
}

button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 25px;
  margin: 0px 4px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-family: arvo;
}

button:hover {
  background-color: khaki;
}

button:active {
  background-color: rgb(204, 195, 118);
}
