#sig {
  height: 150px;
  display: block;
  position: relative;
  top: 15px;
  left: 10px;
  transform: rotate(-13deg);
  position: absolute;
}

#logo-box {
  height: 180px;
  width: 180px;
  background-color: rgb(255,255,255,.6);
  border-radius: 100%;
  position: absolute;
  left: 57%;
  top: -619%;
}

#header {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}

#logo-and-nav {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: white;
  mix-blend-mode: screen;
  width: 100%;
  text-align: center;
}

#header button {
  background-color: rgb(255,255,255,.6);

}

#header button:hover {
  background-color: rgb(255,255,255,.9);
}