ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#repertoire button {
color: rgb(90, 90, 207);
padding: 0;
cursor: pointer;
margin-left: 140px;
font-family: "Eczar", serif;
font-weight: bold;
font-size: 1rem;
}

#and-more {
  padding-top: 30px;
  text-align: center;
  font-style: italic;
  font-size: 1.2rem;
}

.composer {
  float: right;
}

.song {
  font-style: italic;
}

#repertoire-list {
  padding: 0px 30% 0px;
  margin: 20px auto 0px auto;
  background-color: rgb(184, 218, 255);
  width: 40%;
  max-height: 0%;
  opacity: 0;
  overflow: hidden;
}

#repertoire-list h2{
  padding-top: 3rem;
}

#repertoire-list.visible {
  max-height: 100%;
  animation: showRepertoire .5s 0s forwards;
}

#repertoire-list.hidden {
  max-height: 0%;
  opacity: 0;
  overflow: hidden;
  animation: hideRepertoire .5s 0s forwards;
}

@keyframes showRepertoire {
  from {opacity: 1; max-height: 0px;}
  to {opacity: 1; max-height: 1000px;}
}

@keyframes hideRepertoire {
  from {opacity: 1; max-height: 1000px;}
  to {opacity: 1; max-height: 0px;}
}

